<!DOCTYPE html>
<html lang="en">


<body >
        <main id="main-container">
            <section>
                <div class="container">
                    <br>
                    <h1>Cargar producto</h1>

                            <form action="" method="POST">
                                <div class="">
                                    <label> Nombre del producto: </label>
                                    <input type="text" name="seccion" id="seccion" required>
                                </div>
                                <div class="">
                                    <label for="categoria">Categoria:</label>
                                    <input type="text" name="categoria" id="categoria" required
                                        placeholder="* Descripción">
                                </div>
                                <div class="">
                                    <label for="precio"> Precio: </label>
                                    <input type="number" name="precio" id="precio" required>
                                </div>
                                <div class="">
                                    <label for="talle"> Talle: </label>
                                    <input type="text" name="talle" id="talle" required>
                                </div>
                                <div class="">
                                    <label for="color"> Color: </label>
                                    <input type="text" name="color" id="color" required>
                                </div>
                                <div class="">
                                    <label for="talle"> Cantidad: </label>
                                    <input type="text" name="cantidad" id="cantidad" required>
                                </div>
                                <div class="">
                                    <label> Descripción: </label>
                                    <input type="textarea" name="descripcion" id="descripcion" required
                                        placeholder="Descripción">
                                </div>
                                <div class="">
                                    <label for="img-pr"> Imagenes: </label>
                                    <input type="file" name="img-pr" id="img-pr" accept=".jpg, .png" multiple required>
                                </div>

                                <br>

                                    <div>
                                        <button type="buttom" >
                                            Crear
                                        </button>
                                    </div>

                            </form>
                        
                    
                </div>
            </section>

</body>

</html>