<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>X-Person | Inicio seccion</title>
</head>
<body>
    <header>
        <div class="top-header">
            <nav id="menu">
                <div class="burger-menu">
                    <ul>
                        <li>
                            <i class="fa fa-bars burger"></i>
                        <ul>
                            <li>
                                <div class="form-serch-desplegable">
                                    <form action="/" method="get">
                                        <input type="text" value="" placeholder="Buscar"><button type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Tabla de talles</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                            <li><a href="#">Cambios y devoluciones</a></li>
                            <div class="user-cont">
                            <li class="icon-li"><i class="fas fa-user-circle"></i></li>
                            <li><a href="/registro">Crear Cuenta</a></li>
                            <li><a href="/ingresar">Iniciar sesión </a></li>
                            </div>
                        </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="logo"> 
                <a href="/"><img src="images/x-3d.png" alt="Logo de x-person"><p>Person</p></a>
            </div>
            <div class="form-serch-header">
                <form action="/" method="get">
                    <input type="text" value="" placeholder="Buscar"><button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="user">
            <a href="/ingresar"><i class="far fa-user"></i></a>
            </div>
            <div class="car">
                <a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
            </div> 
        </div>
    </header>
    <main class="login">
        <section class="titulos">
            <h1>Inciar sesión</h1>
        </section>
        <section class=forms>
            <div class="carrousel">
                <!-- <i class="fas fa-arrow-left"></i> -->
                <img src="/images/banner-l-r.jpg" alt="banner">
                <!-- <i class="fas fa-arrow-right"></i> -->
            </div>
            <form action="/index" method="post">
                <div class="google">
                    <button type="submit"><i class="fab fa-google"></i> Registrate con Google</button>
                </div>
                <div class="facebook">
                    <button type="submit"><i class="fab fa-facebook"></i> Registrate con Facebook</button>
                </div>
                <div class="email">
                    <label for="user">Email:<input type="email" value="" placeholder="ejemplo@gmail.com" required></label>
                    
                </div>
                <div class="password">
                    <label for="password">Contraseña:<input type="password" name="password" required> </label>
                    
                    <p>¿Olvidaste tu contraseña?</p>
                </div>    
                <div class="submit"><label for="submit"><button type="submit" id="submit">Iniciar sesión</button></label></div>
            </form>
        </section>
        <section class="a-register">
            ¿Todavía no tenés una cuenta? <a href="/registro">Registrate</a>
        </section>
    </main>
    <footer>
        <div class="futer">
            <section class="products-footer">
                <h5>Productos</h5>
                <div class="product-list">
                    <p>Remeras</p>
                    <p>Pantalones</p>
                    <p>Abrigos</p>
                    <p>Accesorios</p>
                </div>
            </section>
            <section class="social-medias">
                <h5>Seguinos</h5>
                <div class="social-links">
                    <div><a href="#"><i class="fab fa-facebook"></i></a></div>
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                    <div><a href="#"><i class="fab fa-whatsapp"></i></a></div>
                </div>
            </section>
            <section class="contact-footer">
                <h5>Contactanos</h5>
                <div class="contact-links">
                    <div><i class="far fa-envelope"></i><a href="#"> xperson@indefined.com</a></div>
                    <div><i class="fab fa-whatsapp"></i><a href="#"> +54 (011) 2222-4444</a></div>
                    <div><i class="fas fa-map-marker-alt"></i><a href="#"> CABA - Argentina</a></div>
                
                
                
            </div>
            </section>
        </div>
        <section class="copy-right">
            <p>© Copyright Indefined - 2021</p>
        </section>

    </footer>
</body>
</html>