<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/productCart.css">
</head>
<body>
    <header>
        <div class="top-header">
            <nav id="menu">
                <div class="burger-menu">
                    <ul>
                        <li>
                            <i class="fa fa-bars burger"></i>
                        <ul>
                            <li>
                                <div class="form-serch-desplegable">
                                    <form action="/" method="get">
                                        <input type="text" value="" placeholder="Buscar"><button type="submit"><i class="fas fa-search"></i></button>
                                    </form>
                                </div>
                            </li>
                            <li><a href="#">Productos</a></li>
                            <li><a href="#">Tabla de talles</a></li>
                            <li><a href="#">Contacto</a></li>
                            <li><a href="#">Preguntas frecuentes</a></li>
                            <li><a href="#">Cambios y devoluciones</a></li>
                            <div class="user-cont">
                            <li class="icon-li"><i class="fas fa-user-circle"></i></li>
                            <li><a href="/registro">Crear Cuenta</a></li>
                            <li><a href="/ingresar">Iniciar sesión </a></li>
                            </div>
                        </ul>
                        </li>
                    </ul>
                </div>
            </nav>
            <div class="logo"> 
                <a href="/"><img src="images/x-3d.png" alt="Logo de x-person"><p>Person</p></a>
            </div>
            <div class="form-serch-header">
                <form action="/" method="get">
                    <input type="text" value="" placeholder="Buscar"><button type="submit"><i class="fas fa-search"></i></button>
                </form>
            </div>
            <div class="user">
            <a href="/ingresar"><i class="far fa-user"></i></a>
            </div>
            <div class="car">
                <a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
            </div> 
        </div>
    </header>

    <main class="product-cart">
        <div class="agrup-tabla-envio">
            <section class="prod-tabla">
                <table>
                    <tr>
                        <th class="talle"><p>talle</p></th>
                        <th class="pro-imag"><img src="/images/productos/accesorios/billetera-collar-azul.jpg" alt="billetera-collar-azul"></th>
                        <th class="pro-desc">
                            <p class="prod-nombre">nombre del producto</p>
                            <div class="cant-elec"><input class="menos" type="button" value= "-"><p class="cantidad">x</p><input class ="mas" type="button" value="+"></div>
                        </th>
                        <th class="price"><p>$XXXX</p></th>
                        <th class="icon"><button class="eliminar" type="reset" value="eliminar"><i class="fas fa-trash-alt"></i></button></th>
                    </tr>
                    <tr>
                        <th class="talle"><p>talle</p></th>
                        <th class="pro-imag"><img src="/images/productos/accesorios/tapaboca-trady-blanco.jpg" alt="Tapabocas-trady"></th>
                        <th class="pro-desc">
                            <p class="prod-nombre">nombre del producto</p>
                            <div class="cant-elec"><input class="menos" type="button" value= "-"><p class="cantidad">x</p><input class ="mas" type="button" value="+"></div>
                        </th>
                        <th class="price"><p>$XXXX</p></th>
                        <th class="icon"><button class="eliminar" type="reset" value="eliminar"><i class="fas fa-trash-alt"></i></button></th>
                    </tr>
                    <tr>
                        <th class="talle"><p>talle</p></th>
                        <th class="pro-imag"><img src="/images/productos/accesorios/billetera-collar-azul.jpg" alt="billetera-collar-azul"></th>
                        <th class="pro-desc">
                            <p class="prod-nombre">nombre del producto</p>
                            <div class="cant-elec"><input class="menos" type="button" value= "-"><p class="cantidad">x</p><input class ="mas" type="button" value="+"></div>
                        </th>
                        <th class="price"><p>$XXXX</p></th>
                        <th class="icon"><button class="eliminar" type="reset" value="eliminar"><i class="fas fa-trash-alt"></i></button></th>
                    </tr>
                    <tr>
                        <th class="talle"><p>talle</p></th>
                        <th class="pro-imag"><img src="/images/productos/accesorios/tapaboca-trady-blanco.jpg" alt="Tapabocas-trady"></th>
                        <th class="pro-desc">
                            <p class="prod-nombre">nombre del producto</p>
                            <div class="cant-elec"><input class="menos" type="button" value= "-"><p class="cantidad">x</p><input class ="mas" type="button" value="+"></div>
                        </th>
                        <th class="price"><p>$XXXX</p></th>
                        <th class="icon"><button class="eliminar" type="reset" value="eliminar"><i class="fas fa-trash-alt"></i></button></th>
                    </tr>
                </table>
                
            </section>

            <article class="medios-envio">
                <h4>Medios de envio</h4>
                <div>
                    <form action="/">
                    <input class="cod-postal" type="number" maxlength="4" placeholder="Ingresá acá tu código postal"><input class="calc-envio" type="button" value="calcular" >
                    </form>
                    <a href="https://www.correoargentino.com.ar/formularios/cpa"><p>No sé mi código postal</p></a>
                </div>
            </article>
        
        <section class="resumen-compra">
            <h4>Resumen de Compra</h4>
            <table>
                <tr>
                    <th><p class="subtotal">Subtotal</p></th>
                    <th><p class="precio-subtotal">$XXXX</p></th>
                </tr>
                <tr>
                    <th><p class="cupon">¿Tenés un cupón de descuento?</p></th>
                    <th><p id=id-cupon>Ingresalo acá</p></th>
                </tr>
                <tr>
                    <th><p class="envio">Envío</p> </th>
                    <th><p class="precio-envio">$XXXX</p></th>
                </tr>
                <tr>
                    <th></th>
                    <th><p class="texto-cuotas">o hasta 6 cuotas de </p><p class="precio-cuotas">$XXX</p></th>
                </tr>
            </table>
            <input class="iniciar-compra" type="button" value="Iniciar compra"><br>
            <a href="#">Ver más productos</a>
        </section>
        </div>
        
        <h3>PRODUCTOS DESTACADOS</h3>
        <section class="sec-carrousel">
                    <i class="fas fa-arrow-left"></i>
                    <article class="product">
                        <img src="/images/productos/accesorios/billetera-colgante-tigre.jpg" alt="billetera-colgante-tigre">
                        <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="product_name">nombre producto</p>
                            <p class="price">precio</p>
                            <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        </div>
                    </article>

                    <article class="product">
                        <img src="/images/productos/accesorios/billetera-collar-azul.jpg" alt="billetera-collar-azul">
                        <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="product_name">nombre producto</p>
                            <p class="price">precio</p>
                            <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        </div>
                        </article>

                    <article class="product">
                        <img src="/images/productos/accesorios/tapaboca-trady-blanco.jpg" alt="tapaboca-trady-blanco">
                        <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="product_name">nombre producto</p>
                            <p class="price">precio</p>
                            <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        </div>
                    </article>

                    <article class="product">
                        <img src="/images/productos/accesorios/billetera-colgante-tigre.jpg" alt="billetera-colgante-tigre">
                        <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="product_name">nombre producto</p>
                            <p class="price">precio</p>
                            <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        </div>
                    </article>

                    <article class="product">
                        <img src="/images/productos/accesorios/billetera-collar-azul.jpg" alt="billetera-collar-azul">
                        <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="product_name">nombre producto</p>
                            <p class="price">precio</p>
                            <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        </div>
                    </article>

                    <article class="product">
                        <img src="/images/productos/accesorios/tapaboca-trady-blanco.jpg" alt="tapaboca-trady-blanco">
                        <div class="product-description">
                            <i class="fas fa-shopping-cart"></i>
                            <p class="product_name">nombre producto</p>
                            <p class="price">precio</p>
                            <p class="cuotas">6 CUOTAS SIN INTERÉS</p>
                        </div>
                    </article>
                    <i  id ="i-carrousel" class="fas fa-arrow-right"></i>
            </section>
            <section class="ver-mas">
                <p>Ver más productos</p>
                <button type="submit"><i class="fas fa-arrow-down"></i></button>
            </section>

    </main>


    <footer>
        <div class="futer">
            <section class="products-footer">
                <h5>Productos</h5>
                <div class="product-list">
                    <p>Remeras</p>
                    <p>Pantalones</p>
                    <p>Abrigos</p>
                    <p>Accesorios</p>
                </div>
            </section>
            <section class="social-medias">
                <h5>Seguinos</h5>
                <div class="social-links">
                    <div><a href="#"><i class="fab fa-facebook"></i></a></div>
                    <div><a href="#"><i class="fab fa-instagram"></i></a></div>
                    <div><a href="#"><i class="fab fa-whatsapp"></i></a></div>
                </div>
            </section>
            <section class="contact-footer">
                <h5>Contactanos</h5>
                <div class="contact-links">
                    <div><i class="far fa-envelope"></i><a href="#"> xperson@indefined.com</a></div>
                    <div><i class="fab fa-whatsapp"></i><a href="#"> +54 (011) 2222-4444</a></div>
                    <div><i class="fas fa-map-marker-alt"></i><a href="#"> CABA - Argentina</a></div>
                
                
                
            </div>
            </section>
        </div>
        <section class="copy-right">
            <p>© Copyright Indefined - 2021</p>
        </section>

    </footer>
</body>
</html>