<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel="stylesheet" href="css/register.css">
        <title>X-Person | Registro</title>
    </head>
    <body>
        <header>
    
            <div class="top-header">
    
                <nav id="menu">
                    <div class="burger-menu">
                        <ul>
                            <li>
                                <i class="fa fa-bars burger"></i>
                            
                            <ul>
                                <li>
                                    <div class="form" action="#" method="GET">
                                    <div class="input">Buscar</div>
                                    <div class="submit"><i class="fa fa-search"></i></div>
                                    </div>
                                </li>
                                <li><a href="#">Productos</a></li>
                                <li><a href="#">Tabla de talles</a></li>
                                <li><a href="#">Contacto</a></li>
                                <li><a href="#">Preguntas frecuentes</a></li>
                                <li><a href="#">Cambios y devoluciones</a></li>
                                <i class="fas fa-user-circle"></i>
                                <li><a href="/registro">Crear Cuenta</a></li>
                                <li><a href="/ingresar">Iniciar sesión </a></li>
                            </ul>
                            </li>
                        </ul>
                    </div>
                </nav>
    
                <div class="logo"> 
                    <a href="/"><img src="images/x-3d.png" alt="Logo de x-person"><p>Person</p></a>
                </div>
                
                <div class="car">
                    <a href="/carrito-de-compras"><i class="fas fa-shopping-cart"></i></a>
                </div>
            </div>
    
    
        </header>

        <main>

        <section class="titulos">
            <h1>Creá tu cuenta ¡Gratis!</h1>
            <h3>¡Accedé a nuestros beneficios exclusivos!</h3>
        </section>
        























        
            <section class="forms">
                <form action="/" method="post">
                    <div class="nombreApellido">
                        <label for="nya">Nombre<b>(*)</b><input type="text" name="nombreApellido" id="nya" minlength="3" required></label>
                    </div>
        
                    <div class="email">
                        <label for="em">Email <b>(*)</b><input type="text" name="nombreUsuario" id="em" placeholder="ejemplo@gmail.com" required></label>
                    </div>
        
                    <div class="fechaNacimiento"><label for="fn">Fecha de nacimiento<input type="date"></label></div>

                    <div class="password"><label for="pass">Contraseña<b>(*)</b><input type="password" id="pass" minlength="6" maxlength="12" placeholder="min. 6 caracteres" required></label></div>
        
                    <div class="confirmacionPassword"><label for="passCon">Confirmar Contraseña<b>(*)</b><input type="password" id="passCon" minlength="6" maxlength="12" required></label></div>
        
                    <div class="submit"><label for="submit"><button type="submit" id="submit">Crear Cuenta</button></label></div>
                </form>
                    <div class="carrousel">
                        <!-- <i class="fas fa-arrow-left"></i> -->
                        <img src="/images/sale-banner.jpg" alt="banner">
                        <!-- <i class="fas fa-arrow-right"></i> -->
                    </div>
        
            </section>
            <section class="a-login">
                ¿Ya tenés una cuenta? <a href="/ingresar">Iniciá sesión</a>
            </section>













        </main>


























        <footer>
            <div class="futer">
                <section class="data-fiscal">
                    <img src="images/data-fiscal.jpg" alt="Data fiscal">
                </section>
                <section class="social-medias">
                    <article>
                        <i class="fab fa-facebook"></i>
                        <p> Facebook</p>
                    </article>
                    <article>
                        <i class="fab fa-instagram"></i>
                        <p> Instagram</p>
                    </article>
                    <article>
                        <i class="fab fa-whatsapp"></i>
                        <p> Whatsapp</p>
                    </article>
    
                </section>
                <section class="atencion-cliente">
                    <p>Quienes somos</p>
                    <p>Contacto</p>
                    <p>Atención al cliente</p>
                    <p>Término y condiciones</p>
                </section>
            </div>
            <p>© Copyright Indefined - 2021</p>
    
    
        </footer>
    </body>
    </html>