*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    font-family: Open Sans;
}
header .top-header .car {
    opacity: 100%;
}
main.product-detail{
    margin: 0 auto;
    width: 90%;
}
main.product-detail section.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
}
main.product-detail section.container .columna img{
    width: 100%;
}
main.product-detail section.container .columna h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
}
main.product-detail section.container .small-img-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
main.product-detail section.container .columna{
    padding: 10px;
}
main.product-detail section.container .columna form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
main.product-detail section.container .columna form .elec-talle-color{
    display: flex;
    text-align: center;
    width: 100%;
    padding: 5px;
}
main.product-detail section.container .columna form .elec-talle-color .elec-talle,
main.product-detail section.container .columna form .elec-talle-color .elec-color{
    width: 50%;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
}
main.product-detail section.container .columna form .cant-elec{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}
main.product-detail section.container .columna form .cant-elec input.cant-prod{
    width: 80%;
    border: none;
    text-align: center;
}
main.product-detail section.container .columna form .cant-elec input.mas,
main.product-detail section.container .columna form .cant-elec input.menos{
    width: 10%;
    border:none;
}
main.product-detail section.container .columna form button{
    height: 30px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 12px;
    color: white;
    background-color: black;
    padding: 10px 0px;
    margin:10px;
}
main.product-detail h3{
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}
main.product-detail h3.desc-prod{
    text-align: left;
}



.conteiner{
    text-align: center;
    margin-top: 5px;
    padding-top: 5px;
}

.mas{
    margin-top: 5px;
    margin-bottom: 5px;
    padding-bottom: 15px;
}


h3{
    margin-top: 70px;
    margin-bottom: 5px;
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

hr{
    width: 30px;
    height: 2px;
    background-color: black;
    margin: auto;
    padding-bottom: 5px;
    border: none;
}

.product{
    text-align: center;
    cursor: pointer;
    margin-bottom: 2rem;
    margin-top: 30px;
}

.buy-btn{
    background: black;
    color: blanchedalmond;
    padding: 13px 30px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    margin-top: 20px;
}

.product img{
    transition: 0.3s all;
}

.product:hover img{
    opacity: 0.7;
}

.product .buy-btn{
    background: black;
    transform: translateY(20px);
    opacity: 0;
    transition: 0.3s all;
}

.product:hover .buy-btn{
    transform: translateY(0px);
    opacity: 1;
}

.img-more{
    height: 250px;
    width: 200px;
}


.row{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}