*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    font-family: Open Sans;
}
header .top-header .car {
    opacity: 100%;
}
main.product-detail{
    margin: 0 auto;
    width: 90%;
}
main.product-detail section.container{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 10px;
}
main.product-detail section.container .columna img{
    width: 100%;
}
main.product-detail section.container .columna h2{
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-weight: bolder;
}
main.product-detail section.container .small-img-row{
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
}
main.product-detail section.container .columna{
    padding: 10px;
}
main.product-detail section.container .columna form{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
}
main.product-detail section.container .columna form .elec-talle-color{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}
main.product-detail section.container .columna form .elec-talle-color .elec-talle,
main.product-detail section.container .columna form .elec-talle-color .elec-color{
    width: 50%;
}
main.product-detail section.container .columna form .cant-elec{
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    justify-content: space-around;
    width: 100%;
    padding: 5px;
}
main.product-detail section.container .columna form .cant-elec input.cant-prod{
    width: 80%;
    border: none;
    text-align: center;
}
main.product-detail section.container .columna form .cant-elec input.mas,
main.product-detail section.container .columna form .cant-elec input.menos{
    width: 10%;
    border:none;
}
main.product-detail section.container .columna form button{
    height: 30px;
    border: none;
    font-size: 10px;
    text-transform: uppercase;
    border-radius: 12px;
    color: white;
    background-color: black;
    padding: 10px 0px;
    margin:10px;
}
main.product-detail h3{
    padding: 10px;
    text-align: center;
    font-weight: bolder;
}
main.product-detail h3.desc-prod{
    text-align: left;
}

main.product-detail section.sec-carrousel i.fas.fa-arrow-left, 
main.product-detail section.sec-carrousel i.fas.fa-arrow-right{
    display: none;
}
main.product-detail section.sec-carrousel{
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
}
main.product-detail section.sec-carrousel article.product{
    border: 1px solid black;
    width: 100%;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
}
main.product-detail section.sec-carrousel article.product img{
    width: 100%;
    height: auto;
}
main.product-detail section.sec-carrousel article.product .product-description{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
}
main.product-detail section.sec-carrousel  article.product i{
    color: black;
    background-color: rgba(255, 255, 255, 0.82);
    font-size:16px;
    position: absolute;
    top: -80px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}
main.product-detail section.sec-carrousel article.product p.cuotas{
    font-size: 12px;
}
main.product-detail section.ver-mas{
    display: none;
}
main.product-detail section.ver-mas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    font-family: sans-serif;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
}
main.product-detail section.ver-mas button{
    border: none;
    border-radius: 15px;
    color:black;
    width: 15%;
    height: 30px;
    font-size: 24px;
}
@media(min-width:361px){
    main.product-detail section.sec-carrousel article.product{
        width: 48%;
    }
    main.product-detail section.container{
        display: flex;
        flex-wrap: nowrap;
    }
    main.product-detail section.container .columna h2 {
        text-align: left;
        font-size: 26px;
    }
    main.product-detail section.container .columna form button:hover{
        color:#ff523b;
    }
    main.product-detail section.container .columna form button:active{
        color:#ff523b;
        background-color: white;
        border: 1px solid #ff523b;
    }
}
@media(min-width:769px){
    main.product-detail section.sec-carrousel{
        padding: 10px 5px;
        display: flex;
        flex-wrap: nowrap;
    }
    main.product-detail section.sec-carrousel i.fas.fa-arrow-left, 
    main.product-detail section.sec-carrousel i.fas.fa-arrow-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main.product-detail section.sec-carrousel article.product{
        width: 24%;
        transition: height 4s;
    }
    main.product-detail section.sec-carrousel article.product:hover{
        height: 30%;
        border: 1px solid #ff523b;
        transition-duration: 450ms;
    }
    main.product-detail section.sec-carrousel article.product:hover i{
        color: #ff523b;
        border: 1px solid #ff523b;
        transition-duration: 450ms;
    }

    main.product-detail section.ver-mas{
        display: none;
    }
    main.product-detail section.container .columna form button{
        height: 40px;
        font-size: 18px;
    }
}