
main.register a{
    font-weight: bolder;
    color: black;
}
main.register .titulos{
    text-align: center;
    font-family: Bebas neue;
    margin: 20px 0px;
    text-transform: uppercase;
    font-weight:bolder;
}
main.register section.forms{
    display: flex;
    flex-wrap: nowrap;
    background-color: rgba(230, 40, 11, 0.65);
    padding: 10px;
    justify-content: center;
}
main.register section.forms input{
    display: flex;
    width: 100%;
}
main.register section.forms .submit{
    display: block;
    padding: 20px;
    width: 100%;
}
main.register section.forms .submit label{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
}
main.register section.forms .submit button{
    border:1px solid white;
    height: 30px;
    background-color: black;
    color: white;
    width: 100%;
    border-radius: 15px;
}
main.register section.forms .carrousel{
    display: none;
}
main.register input {
    border: 2px solid white;
    border-radius: 10px;
    margin-left: 0 auto;
}
main.register .a-login{
    margin: 30px 10px;
    display: flex;
    justify-content: center;
    font-family: Bebas neue;
}

@media (min-width: 361px){
    main.register{
        width: 80%;
        margin: 0px auto;
    }
    main.register section.forms form,
    main.register section.forms form{
        margin:5px;
    }
    main.register section.forms form{
        width: 40%;
        justify-content: center;
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        flex-direction: column;
    }
   
    main.register section.forms .submit{
        display:flex;
        justify-content: center;
    }
    main.register section.forms .submit label{
        display: flex;
        justify-content: center;
        text-align: center;
        width: 60%;
    }
    main.register section.forms .carrousel{
        display: flex;
        width: 60%;
        align-items: center;
        justify-content: flex-end;
    }
    section.forms .carrousel img{
        width: 100%;
        height: auto;
    }
    main.register section.forms,main.register section.a-login{
        font-size: 16px;
    }
}


@media (min-width: 769px){
    main.register section.forms,main.register section.a-login{
        font-size: 20px;
    }
    
}
