*{
    margin: 0px;
    padding: 0px;    
    box-sizing: border-box;
}
body{
    margin: 0px auto;
    font-family: Open Sans;
}
a{
    text-decoration: none;
    color: white;
}
header{
    background-color: black;
}
header .top-header{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
header #menu{
    width: 20%;
}
header #menu .burger-menu{
    width: 100%;
    display: flex;
    text-align: center;
    padding: 10px;
    justify-content: center;
    color: white;
}
#menu ul a {
    display:block;
    color:#fff;
    text-decoration:none;
    font-weight:400;
    font-size:15px;
    padding:10px;
}
#menu ul li {
    position:relative;
    list-style: none;
    width: 100%;
}
#menu ul li .form-serch-desplegable form{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    height: 20px;
}
#menu ul li .form-serch-desplegable input{
    width: 80%;
    border:none;
    border-radius: 5px;
}
#menu ul li .form-serch-desplegable button{
    width: 20%;
    border:none;
    border-radius: 5px;
}
#menu ul li .icon-li{
    border-top: 1px solid white;
    border-bottom: 1px solid white;
}
#menu ul ul {
    display:none;
    position:absolute;
    top:100%;
    left:0px;
    background-color:black;
    padding:0;
}
#menu ul li:hover > ul {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    width: 150px;
}
header{
    margin: 0px auto;
}
header .top-header .logo {
    display: flex;
    padding:5px;
    text-align: center;
    width: 60%;
    justify-content: center;
}
header .top-header .logo p,
header .top-header .form-serch-header,
header .top-header .user{
    display: none;
}
header .top-header .logo img{
    width: 20%;
    height: auto;
    align-content: center;
}
header .top-header .car{
    width: 15%;
    text-align: center;
    padding: 5px;
}
header .top-header .car i{
    color:white
}
main.index{
    margin: 0 auto;
    width: 90%;
}
main.index section.sec-banner{
    display: flex;
    flex-wrap:nowrap;
    width: 100%;
    padding:20px 10px;
    
}
main.index section.sec-banner i{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5%;
    padding: 10px;
    color: black;
}
main.index section.sec-banner img{
    width: 90%;
    height: auto;
}
main.index .sec-categorys{
    padding: 15px 0px;
    display: flex;
    flex-wrap: wrap;
}
main.index .sec-categorys article{
    margin: 1px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90px;
    background-size: cover;
    text-align: center;
    border: solid 1px black;
}
main.index .sec-categorys  h4{
    letter-spacing: 3px;
    padding: 5px;
    width: auto;
    height: auto;
    background-color: rgba(0, 0, 0, 0.8);
    color:white;
    text-transform: uppercase;
}
main.index .sec-categorys .remeras{
    background-image:url('/images/categorias/cate-1.JPG');
}
main.index .sec-categorys .pantalones{
    background-image:url('/images/categorias/cate-3.jpg');
}
main.index .sec-categorys .abrigos{
    background-image:url('/images/categorias/cate-2.jpg');
}
main.index .sec-categorys .accesorios{
    background-image:url('/images/categorias/cate-4.jpg');
}
main.index h3{
    padding: 10px;
    text-align: center;
    font-weight: bolder;
    letter-spacing: 5px;

}

main.index section.sec-carrousel i.fas.fa-arrow-left, 
main.index section.sec-carrousel i.fas.fa-arrow-right{
    display: none;
}
main.index section.sec-carrousel{
    padding: 10px 5px;
    display: flex;
    flex-wrap: wrap;
}
main.index section.sec-carrousel article.product{
    border: 1px solid black;
    width: 100%;
    margin: 1px;
    display: flex;
    flex-wrap: wrap;
}
main.index section.sec-carrousel article.product img{
    width: 100%;
    height: auto;
}
main.index section.sec-carrousel article.product .product-description{
    position: relative;
    width: 100%;
    text-align: center;
    padding: 10px;
    border-top: 1px solid black;
}
main.index section.sec-carrousel  article.product i{
    color: black;
    background-color: rgba(255, 255, 255, 0.82);
    font-size:16px;
    position: absolute;
    top: -80px;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    text-align: center;
    border: 1px solid black;
    padding: 5px;
    box-shadow: 0px 0px 10px rgb(100 100 100);
}
main.index section.sec-carrousel article.product p.cuotas{
    font-size: 12px;
}
main.index section.ver-mas{
    display: none;
}
main.index section.ver-mas{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding:10px;
    font-family: sans-serif;
    align-items: center;
    text-transform: uppercase;
    font-weight: bolder;
}
main.index section.ver-mas button{
    border: none;
    border-radius: 15px;
    color:black;
    width: 15%;
    height: 30px;
    font-size: 24px;
}
footer{
    background-color: black;
    color: white;
    padding: 15px 10px;
    font-size: 10px;
}
footer .futer{
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    justify-content: center;
}
footer .futer h5{
    font-family: 'Bebas neue';
    font-size: 12px;
    letter-spacing: 1px;
}
footer .futer p{
    font-size: 10px;
    font-family: Open Sans ;
}
footer .futer section.products-footer{
    padding: 10px;
    
}
footer .futer section.social-medias{
    padding: 10px;
    
}
footer .futer section.social-medias .social-links{
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer .futer section.contact-footer{
    padding: 10px;
}
footer .futer section.contact-footer .contact-links{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer section.copy-right{
    text-align: center;
}

@media( min-width:361px){
    main.index  {
        width: 80%;
        margin: 0px auto;
    }
    header .top-header{
        font-size: 24px;
        display: flex;
        flex-wrap: nowrap;
    }
    #menu ul li .form-serch-desplegable,
    #menu ul li .user-cont{
        display: none;
    }
    header .top-header .form-serch-header{
        display: flex;
        width: 40%;
    }
    header .top-header .user{
        display: flex;
        width: 15%;
        justify-content: center;
    }
    header .top-header .form-serch-header form{
        width: 100%;
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;
        height: 30px;
    }
    header .top-header .form-serch-header input{
        width: 80%;
        border:none;
        border-radius: 5px;
    }
    header .top-header .form-serch-header button{
        width: 20%;
        border:none;
        border-radius: 5px;
    }
    header .top-header .logo {
        display: flex;
        padding:5px;
        text-align: center;
        width: 80%;
        justify-content: center;
    }
    header .top-header .logo p{
        display: block;
        color: white;
        font-size: 24px;
        font-family: Bebas neue;
        letter-spacing: 2px;
    }
    main.index .sec-categorys article{
        width: 48%;
    }
    main.index section.sec-carrousel article.product{
        width: 48%;
    }
    main.index .sec-categorys article:hover{
        border: #ff523b 1px solid;;
    }
    main.index .sec-categorys article:hover h4{
        background-color: #ff523b;
    }
    footer .futer p, footer .futer i,footer .futer a{
        font-size: 14px;
    }
    footer .futer section.social-medias .social-links{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-size: 20px;
    }

}
@media(min-width:769px){
    header .top-header{
        font-size: 30px;
    }
    header .top-header .logo {
        display: flex;
        padding:5px;
        text-align: center;
        width: 100%;
        justify-content: center;
    }
    header .top-header .logo a{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;    
    }
    header .top-header .logo p{
        display: block;
        color: white;
        font-size: 30px;
        font-family: Bebas neue;
        letter-spacing: 5px;
    }
    main.index .sec-categorys article{
        width: 24%;
        height: 200px;
    }
    main.index section.sec-carrousel{
        padding: 10px 5px;
        display: flex;
        flex-wrap: nowrap;
    }
    main.index section.sec-carrousel i.fas.fa-arrow-left, 
    main.index section.sec-carrousel i.fas.fa-arrow-right{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    main.index section.sec-carrousel article.product{
        width: 24%;
        transition: height 4s;
    }
    main.index section.sec-carrousel article.product:hover{
        height: 30%;
        transition-duration: 450ms;
    }
    main.index section.sec-carrousel article.product:hover i{
        color: #ff523b;
        border: 1px solid #ff523b;
        transition-duration: 450ms;
    }
    main.index section.ver-mas{
        display: none;
    }
    footer .futer h5{
        font-size: 20px;
        letter-spacing: 3px;
    }
    footer .futer p,
    footer .futer i{
        font-size: 18px;
    }
    footer .futer section.social-medias{
        width: 30%;
        text-align: center;
    }
    footer .futer section.social-medias .social-links{
        display: flex;
        padding-top: 20px;
        justify-content: space-around;
    }
    footer .futer section.social-medias .social-links i{
        font-size: 30px;
    }
}